body{
  background-color: #4554A5;
  width:80%;
  margin:0 auto;
  font-family:Verdana, sans-serif;
  color:white;
}

h1{
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-size:6em;
  border-style: none;
  border-color:white;
  border-width: medium;
}

/*----------MEMORY---------*/

.title{
  border-style: none;
  border-color:white;
  border-width: medium;
  margin:0 auto;
  padding-top:20px;
}

h1 {
  display: block;
  text-align: center;
}

h1 i {
  border-style: none;
  border-color:white;
  border-width: medium;
  display:inline-block;
}

.mem {
  border-style: none;
  border-color:white;
  border-width: medium;
  margin:0;
  margin-right:-.4em;
  display:inline-block;
}

.memoRY {
  border-style: none;
  border-color:white;
  border-width: medium;
  margin:0;
  margin-left:-.2em;
  display:inline-block;
}

/*------------GAME-INFO------------*/

i:first-of-type{
  margin-left:2%;
}

.game-info{
  border-style: none;
  border-color:white;
  border-width: medium;
  padding-top:40px;
}

.game-info i {
  color:white;
}

.game-info span{
  float:right;
  font-size: 1.2em;
  padding-right:1%;
}

/*-------------GAME------------*/

.game-container{
  border-style: none;
  border-color:white;
  border-width: medium;
  padding-top:60px;
}

.row-one {
  border-style: none;
  border-color:red;
  border-width: medium;
  text-align: center;
  padding-bottom:5px;
}


li {
  border-style: none;
  border-color:green;
  border-width: medium;
  display: inline-block;
  width:13.5%;


}

.icon-container{
  font-size: 2.75em;
  color:rgba(255,255,255,0);
  transition: color .25s, -webkit-transform .25s;
  border-style: none;
  border-color:red;
  border-width: medium;
  height:0;
  width:100%;
  padding-top: 50%;
  padding-bottom: 50%;
}

.icon{
  position: relative;;
  top: -25px;
}

/*.box{
  width:13.5%;
  height: 0;
  padding-bottom: 13.5%;
  background-color: white;
  display: inline-block;
  border-radius: 10px;
  margin:0;
  margin-right:-2px;
  margin-bottom:3px;
  background-color: #7A83C0;
}*/

/*----------GAME-PLAY-----------*/


input {
  width: 100px;
  height: 100px;
  display: none;
}

.card {
  width:100%;
  border-radius: 10px;
  background: steelblue;
  display: inline-block;
  transition: background 1s, -webkit-transform 1s;
}

input:checked +.card {
  background: lightcoral;
  -webkit-transform: rotateY(180deg);
}

input:checked +.icon-container{
  color:rgba(255,255,255,1);
  -webkit-transition: all .25s ease;


}
