body{
  background-color: #4554A5;
  width:80%;
  margin:0 auto;
  font-family:Verdana, sans-serif;
  color:white;
}

h1{
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-size:6em;
  border-style: none;
  border-color:white;
  border-width: medium;
}

/*----------MEMORY---------*/

.title{
  border-style: none;
  border-color:white;
  border-width: medium;
  margin:0 auto;
  padding-top:20px;
  width:500px;
}

h1 {
  display: block;
  text-align: center;
}

h1 i {
  border-style: none;
  border-color:white;
  border-width: medium;
  display:inline-block;
}

.mem {
  border-style: none;
  border-color:white;
  border-width: medium;
  margin:0;
  margin-right:-30px;
  display:inline-block;
}

.memoRY {
  border-style: none;
  border-color:white;
  border-width: medium;
  margin:0;
  margin-left:-20px;
  display:inline-block;
}

/*------------GAME-INFO------------*/

i:first-of-type{
  margin-left:2%;
}

.game-info{
  border-style: none;
  border-color:white;
  border-width: medium;
  padding-top:40px;
}

.game-info i {
  color:white;
}

.game-info span{
  float:right;
  font-size: 1.2em;
  padding-right:1%;
}

/*-------------GAME------------*/

.game-container{
  border-style: none;
  border-color:white;
  border-width: medium;
  padding-top:60px;
}

.row-one {
  border-style: solid;
  border-color:red;
  border-width: medium;
  text-align: center;
}

.row-two {
  border-style: none;
  border-color:red;
  border-width: medium;
  text-align: center;
}

.row-three {
  border-style: none;
  border-color:red;
  border-width: medium;
  text-align: center;
}


.box{
  width:13.5%;
  height: 0;
  padding-bottom: 13.5%;
  background-color: white;
  display: inline-block;
  border-radius: 10px;
  margin:0;
  margin-right:-2px;
  margin-bottom:3px;
  background-color: #7A83C0;
}

label{
  width:13.5%;
  height: 0;
  padding-bottom: 13.5%;
  background-color: white;
  display: inline-block;
  margin:0;
  margin-right:-2px;
  margin-bottom:3px;
  background-color: #7A83C0;

  border-style: none;
  border-color:white;
  border-width: medium;
  border-radius: 10px;
}
