body{
  background-color: #3F9BB3;
  font-family:Verdana, sans-serif;
  color:white;
}

/*--------HEADER--------*/

.title{
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-size:4em;
  border-style: none;
  border-color:white;
  border-width: medium;
  margin:0 auto;
  padding-top:150px;
}

h1 {
  display: block;
  text-align: center;
}

h1 i {
  border-style: none;
  border-color:white;
  border-width: medium;
  display:inline-block;
}

.newgame {
  padding-top:20px;
  font-size:1.5em;
}

.mem {
  border-style: none;
  border-color:white;
  border-width: medium;
  margin:0;
  margin-right:-.2em;
  display:inline-block;
}

.memoRY {
  border-style: none;
  border-color:white;
  border-width: medium;
  margin:0;
  margin-left:-.2em;
  display:inline-block;
}

/*----------CHOICES----------*/

section{
  text-align: center;
  padding-top:50px;
}

.easy-container{
  border-style: solid;
  border-color:white;
  border-width: medium;
  display: inline-block;
}

.easy{
  /*border-style: none;
  border-color:white;
  border-width: medium;*/
  width:10px;
  height:40px;
  display: inline-block;
  border-bottom: 15px solid transparent;
  border-top:15px solid transparent;
  border-left: 0px solid  transparent;
  border-right: 300px solid ;
}

.easy-in{
  position:absolute;
  /*left:-305px;
  top:-5px;*/
  width:10px;
  height:30px;
  display: inline-block;
  border-bottom: 15px solid transparent;
  border-top:15px solid transparent;
  border-left: 0px solid  transparent;
  border-right: 280px solid red;
}
